<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Way of The Forge</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/override.css" />
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
    <script src="{{STATIC_URL}}{{app_name}}/required_javascript.js"></script>
    <script src="{{STATIC_URL}}{{app_name}}/required_splunk.js"></script>
    <!--[if IE 7]><link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/sprites-ie7.css" /><![endif]-->
</head>
<body class="simplexml preload">

<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header">
    <div id="placeholder-splunk-bar">
        <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk > listen to your data">Click Me! Please?</a>
    </div>
    <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
    <div class="dashboard-body">
        <div id="main" class="main-area">
            <h1 align="center">Step 3: Hammer Time</h1>
            <div id="content">
                <h2 id="content_index">Content</h2>
                <p>
                    <li><a href="#count">Make It Count</a></li>
                    <li><a href="#time">Timing Is Everything</a></li>
                </p>
                <h2 id="count">Make It Count</h2>
                <p>
                    Next to add a table, let's add the following search under the <b>// SEARCH MANAGERS</b> area:<br>
                    <br>
                    <div class="code">
                        // Table search manager/query<br>
                        var search2 = new SearchManager&#40;&#123;<br>
                            <div id="codetab">"id": "search2",<br></div>
                            <div id="codetab">"search": "| inputlookup musicdata.csv | search bc_uri=/sync/addtolibrary* | stats count by track_name | sort count desc | table track_name count | head 5",<br></div>
                            <div id="codetab">"cancelOnUnload": true,<br></div>
                            <div id="codetab">"status_buckets": 0,<br></div>
                            <div id="codetab">"app": utils.getCurrentApp(),<br></div>
                            <div id="codetab">"preview": true,<br></div>
                            <div id="codetab">"runWhenTimeIsUndefined": false<br></div>
                        &#125;, &#123;tokens: true, tokenNamespace: "submitted"&#125;&#41;;
                    </div>
                    <br>
                    Scroll farther down to the <b>// VIEWS: VISUALIZATION ELEMENTS</b> and add the following:<br>
                    <br>
                    <div class="code">
                        var element2 = new TableElement&#40;&#123;<br>
                            "id": "element2",<br>
                            "managerid": "search2",<br>
                            "el": $&#40;'#element2'&#41;<br>
                        &#125;, &#123;tokens: true, tokenNamespace: "submitted"&#125;&#41;.render&#40;&#41;;
                    </div>
                    <br>
                    Let's add the table to the html so that it's actually displayed, go back up to our table and add the following to the second set of <b>&#60;td&#62;</b> tags:<br>
                    <br>
                    <div class="code">
                        &#60;div class="panel-element-row"&#62;<br>
                            <div id="codetab">&#60;div id="element2" class="dashboard-element table"&#62;&#60;/div&#62;<br></div>
                        &#60;/div&#62;<br>
                    </div>
                    <br>
                    <img class="myImg" src="{{STATIC_URL}}{{app_name}}/html_pie_table.png"><br>
                    <br>
                    If you refresh your page, you should see the following:<br>
                    <br>
                    <img class="myImg" src="{{STATIC_URL}}{{app_name}}/home_pie_table.png"><br>
                </p>
                <h2 id="time">Timing Is Everything</h2>
                <br>
                <a onclick="switchPage('way_of_the_forge_4', 'way_of_the_forge_3')">Step 4: Timing</a>
                <div id="test1"></div>
                <br>
                <div id="test2"></div>
            </div>
        <div class="bottom"></div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>