<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>App Documentation Home</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
    <script src="{{STATIC_URL}}{{app_name}}/required_javascript.js"></script>
    <script src="{{STATIC_URL}}{{app_name}}/required_splunk.js"></script>
    <!--[if IE 7]><link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/sprites-ie7.css" /><![endif]-->
</head>
<body class="simplexml preload">

<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header">
    <div id="placeholder-splunk-bar">
        <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk > listen to your data">Welcome Home! Oh, wait...</a>
    </div>
    <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
    <div class="dashboard-body">
        <div id="main" class="main-area">
            <h1 align="center">Temp App Documentation</h1>
            <div id="content">
                <h2 id="content_index">Content</h2>
                <p>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#preassets">Pre-Assets</a></li>
                    <li><a href="#information">Information</a></li>
                    <li><a href="#resources">Resources</a></li>
                    <li><a href="#version">Version</a></li>
                </p>
                <h2 id="overview">Overview</h2>
                <p>App development and refrence guide.<br>This documentation will take you through creating an app in Splunk through HTML in multiple ways.</p>
                <h2 id="">Pre-Assets</h2>
                <p>
                    <li>Splunk account</li>
                    <li>Splunk Enterprise</li>
                    <li>Text editor, recommend Sublime Text</li>
                    <li>Good to know:
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>Possibly Python</li>
                            <li>Not XML, unless you want to</li>
                        </ul>
                    </li>
                </p>
                <h2 id="information">Information</h2>
                <p></p>
                <h2 id="resources">Resources</h2>
                <p>
                    <li><a class="external" href="http://docs.splunk.com/Documentation">Splunk documentation</a></li>
                </p>
                <h2 id="version">Select Version</h2>
                <p>Different versions of Splunk may have some changes with them. You can also click on one of the tabs at the top to select your version.<br>Disclaimer! Previous versions may either; not be documented, function the same, or not work at all.</p>
                <li><a onclick="switchVersion('6_2_3', 'home')">6.2.3</a></li>
            </div>
            <div class="bottom"></div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>